.page {
  padding: rhythm(3) rhythm(2);
}

.swapPanel {
  max-width: 448px;
  margin: auto;
}

.poolPanel {
  max-width: 448px;
  margin: auto;
}

.claimPanel {
  max-width: 448px;
  margin: auto;
}

.loadingPanel {
  max-width: 448px;
  margin: auto;

  > .card {
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tabList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rhythm(4);
}

.tabButton {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 38px;
  outline: none;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;

  &[aria-selected="true"] {
    background: rgba(#fff, 0.1);
  }
}

.card {
  margin-bottom: rhythm(3);

  &__poolHeading {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: rhythm(2);
    position: relative;
  }

  &__poolBackButton {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    cursor: pointer;

    > svg {
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
    }
  }

  &__claimHeading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    display: grid;
    grid-template-columns: max-content auto;
    gap: rhythm(1);
    align-items: center;
  }

  &__claimValue {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    display: block;
    padding-top: rhythm(3);
  }

  &__swapToPane {
    margin-bottom: rhythm(4);
  }

  &__search {
    margin-bottom: rhythm(2);
  }
}

.loadingCard {
  max-width: 400px;
  height: 120px;
  margin: 26vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swapButton {
  display: block;
  width: 20px;
  height: 20px;
  margin: rhythm(2.5) auto rhythm(1);
  cursor: pointer;
}

.slippage {
  display: flex;
  align-items: center;

  &__option {
    padding: 4px 12px;
    border-radius: rhythm(2);
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    cursor: pointer;

    &[data-selected="true"] {
      background: rgba(#fff, 0.1);
    }
  }
}

.pool {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: rhythm(1.75) rhythm(2);
  border-radius: 12px;
  background: rgba(#fff, 0.1);
  cursor: pointer;
  font-size: 15px;
  line-height: 16px;

  &__text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tokens {
    display: flex;
    margin-right: 6px;
  }

  &__token {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 2px;
  }

  &__name {
    font-weight: 500;
  }

  &__value {
    margin-left: auto;
    font-size: 13px;
    font-weight: 500;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(#fff, 0.3);
  }

  @include responsive("mobile") {
    &__text {
      display: block;
    }

    &__tokens {
      margin-right: 8px;
    }

    &__token {
      width: 22px;
      height: 22px;
      margin-right: 4px;
    }

    &__name {
      font-size: 14px;
      line-height: 16px;
    }

    &__value {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.poolSection {
  padding-top: rhythm(2);
  padding-bottom: rhythm(1);

  svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  a {
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: rhythm(2);

    > a {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(#fff, 0.05);
  }
}

.liquidityPlus {
  display: block;
  width: 20px;
  height: 20px;
  margin: rhythm(3) auto rhythm(2);
}

.tokenInput {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  &__bottom {
    margin-top: rhythm(1);
    background: rgba(#fff, 0.1);
    border-radius: 12px;
    padding: rhythm(1.5) rhythm(2);

    &.error {
      background: #ff00002a;
    }
  }

  &__input {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    display: block;

    &::placeholder {
      color: rgba(#fff, 0.5);
    }
  }

  &__balance {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: rgba(#fff, 0.8);
  }
}

.tokenTrigger {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.disabled,
  &[data-disabled] {
    cursor: default;
  }

  &__icon {
    width: 20px;
    height: 20px;
    flex: none;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__name {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.25px;
    font-weight: 500;
  }

  &__arrow {
    width: 14px;
    height: 8px;
    margin-left: rhythm(1);
  }
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0 0 0 / 0.75);
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 17.5vh rhythm(2.5) rhythm(2.5);
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  // &[data-exiting] {
  //   animation: modal-fade 150ms reverse ease-in;
  // }
}

.Modal {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 20px;
  background: #000;
  color: #fff;
  outline: none;
  max-width: 428px;
  max-height: 70vh;
  width: 100%;
  padding: rhythm(2.5);
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content max-content 1fr;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rhythm(3);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    &.center {
      justify-content: center;
      font-weight: 600;
    }
  }

  &__search {
    margin-bottom: rhythm(3);
  }

  &__content {
    overflow: auto;
    margin: 0 rhythm(-3);
    padding: 0 rhythm(3);
  }

  &__subheading {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: rhythm(-2);
    opacity: 0.75;
    margin-bottom: rhythm(2);
  }

  &__bgroup {
    display: flex;
    gap: rhythm(2);
    justify-content: center;
    margin-top: rhythm(-1);
    margin-bottom: rhythm(1);
  }

  &__link {
    flex: 1;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(90deg, #007adf 0%, #00ffcb 100%);
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
    padding-left: rhythm(2);
    padding-right: rhythm(2);
    white-space: nowrap;
  }

  &__close {
    flex: 1;
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
    padding-left: rhythm(3);
    padding-right: rhythm(3);
    border-radius: 8px;
    background: rgba(#fff, 0.1);
  }

  &__successIcon,
  &__errorIcon {
    width: 40px;
    height: 40px;
    margin: rhythm(1) auto rhythm(2);
  }

  &__successIcon {
    path {
      fill: #00ffcb;
    }
  }

  &__errorIcon {
    path {
      fill: #ff0000cc;
    }
  }
}

.tokenEntry {
  display: flex;
  align-items: center;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  margin-bottom: rhythm(1);
  cursor: pointer;

  &:hover {
    margin-left: rhythm(-3);
    margin-right: rhythm(-3);
    padding-left: rhythm(3);
    padding-right: rhythm(3);
    background: rgba(#fff, 0.05);
  }

  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(#fff, 0.2);
    margin-right: rhythm(1);
  }

  &__name {
    > strong {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }

    > span {
      display: block;
      font-size: 12px;
      line-height: 16px;
      color: #c7c7c7;
    }
  }

  &__balance {
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close {
  width: 12px;
  height: 12px;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rhythm(3);

  @include responsive("mobile") {
    gap: rhythm(2);
  }
}

.verticalButtonGroup {
  display: grid;
  gap: rhythm(2);
}

.slider {
  display: grid;
  grid-template-areas:
    "label output"
    "track track";
  grid-template-columns: 1fr auto;

  &__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
  }

  &__output {
    grid-area: output;
    font-weight: 500;
    padding: 10px 16px;
    background: #ffffff1a;
    border-radius: 8px;

    &::after {
      content: "%";
    }
  }

  &__track {
    grid-area: track;
    position: relative;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% - 24px) !important;

    &:before {
      content: "";
      display: block;
      position: absolute;
      background: #fff;
      border-radius: 2px;
    }
  }

  &__fill {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    margin: auto;
    border-radius: 2px;
    background: #00ffcb;
  }

  &__thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    forced-color-adjust: none;
    position: relative;
    z-index: 3;

    &[data-dragging] {
      background: #fff;
    }

    // &[data-focus-visible] {
    //   outline: 2px solid var(--focus-ring-color);
    // }
  }

  &[data-orientation="horizontal"] {
    flex-direction: column;

    .slider__track {
      height: 30px;
      width: 100%;

      &:before {
        height: 4px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        background: #ffffff3a;
      }
    }

    .slider__thumb {
      top: 50%;
    }
  }
}

.sliderButtonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff80;
  margin-top: rhythm(1);
  margin-bottom: rhythm(5);

  &__button {
    text-align: center;
    border: 1px solid transparent;
    padding: rhythm(0.25) rhythm(1);
    border-radius: 6px;
    cursor: pointer;
    text-align: center;

    &.active {
      border: 1px solid #ffffff80;
    }
  }
}

.red {
  opacity: 0.5;
}

.slippageGroup {
  display: flex;
  align-items: center;
}

.customSlippage {
  padding: 4px 12px;
  border-radius: rhythm(2);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  cursor: text;
  background: rgba(#fff, 0.1);
  display: flex;
  align-items: center;
  margin-left: 8px;

  &__input {
    width: 40px;
    text-align: right;
    margin-right: 4px;

    &::placeholder {
      color: rgba(#fff, 0.5);
    }
  }
}

.successToast {
  > a {
    text-decoration: underline;
  }
}

.loader {
  --b: 8px;
  width: 50px;
  margin: 16px auto 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #00ffcb) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
