@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/Satoshi-Black.woff") format("woff"),
    url("/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

:root {
  line-height: 1;
  font-size: 16px;
  text-size-adjust: 100%;
  font-family: "Satoshi", sans-serif;
  color: #fff;
  background: #0c0c0c;
}

body {
  margin: 0;
  background: url("/bg.svg") no-repeat center center fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

b,
strong {
  font-weight: bolder;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dd {
  margin: 0;
}

button,
input {
  padding: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  border: 0;
  outline: none;
  appearance: none;
  color: inherit;
}

button {
  cursor: pointer;
  user-select: none;
}

img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

.toast {
  font-size: 14px;
  line-height: 16px;
  font-family: inherit;
}
