.DataEntry {
  width: 100%;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin-top: rhythm(1.25);
  margin-bottom: rhythm(1.25);

  &__title {
    font-weight: 500;
  }

  &__icon {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
  }

  &__content {
    margin-left: auto;
    font-size: 13px;
    font-weight: 500;
  }
}
