.page {
  position: relative;
  min-height: 100vh;
  padding: 0 rhythm(3);
  overflow: hidden;

  &__spaceship {
    width: 480px;
    position: absolute;
    z-index: 0;
    top: 15vh;
    left: calc(50% + 148px);
    pointer-events: none;

    @include responsive("mobile") {
      width: 320px;
      left: 50%;
    }
  }

  &__star {
    width: 40px;
    position: absolute;
    z-index: 0;
    pointer-events: none;

    &.p1 {
      top: 35vh;
      left: 10vh;
    }

    &.p2 {
      top: 40vh;
      left: 40vh;

      @include responsive("mobile") {
        top: 70vh;
        left: 20vh;
      }
    }

    &.p3 {
      top: 45vh;
      left: 50vh;
    }

    &.p4 {
      top: 52.5vh;
      left: 60vh;
    }

    &.p5 {
      top: 42.5vh;
      right: 20vh;
    }

    &.p6 {
      top: 60vh;
      right: 10vh;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rhythm(12);
  padding: rhythm(3);

  @include responsive("tablet") {
    padding: rhythm(3) 0;
  }

  &__logo {
    height: rhythm(3);
    min-width: max-content;
    margin-right: rhythm(3);
  }

  &__links {
    display: flex;
    gap: rhythm(5);

    @include responsive("tablet") {
      gap: rhythm(3);
    }

    @include responsive("mobile") {
      gap: rhythm(2);
    }
  }

  &__link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

    @include responsive("mobile") {
      font-size: 14px;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    height: 50px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #000;
    position: relative;
    margin-left: rhythm(3);
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: -1px;
      background: linear-gradient(90deg, #007adf 0%, #00ffcb 100%);
      border-radius: 50px;
    }

    @include responsive("mobile") {
      display: none;
    }
  }
}

.hero {
  padding-top: 21vh;

  @include responsive("mobile") {
    padding-top: 10vh;
  }

  &__heading {
    font-size: 64px;
    line-height: 80px;
    font-weight: 900;
    text-align: center;
    max-width: 800px;
    margin: 0 auto rhythm(8);

    @include responsive("mobile") {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: rhythm(3);
    }
  }

  &__subheading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    max-width: 600px;
    margin: 0 auto rhythm(10);

    @include responsive("mobile") {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: rhythm(8);
    }
  }

  &__bGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rhythm(4);
    margin-bottom: rhythm(10);

    @include responsive("mobile") {
      flex-direction: column;
      gap: rhythm(1.5);
      margin-bottom: rhythm(4);
    }
  }

  &__button {
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    background: linear-gradient(90deg, #007adf 0%, #00ffcb 100%);

    @include responsive("mobile") {
      width: 80%;
    }
  }
}

.iconLinks {
  display: flex;
  gap: rhythm(4);
  justify-content: center;
  padding-top: rhythm(10);
  padding-bottom: rhythm(10);

  @include responsive("mobile") {
    padding-top: rhythm(6);
    padding-bottom: rhythm(6);
  }
}

.link {
  > svg {
    width: 28px;
    height: 28px;
  }
}
